//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 08 18:57:24 2018
//! **************************************************************************

SCHEMATIC START;
COMP "OE" LOCATE = SITE "AB4" LEVEL 1;
COMP "RS" LOCATE = SITE "Y14" LEVEL 1;
COMP "RW" LOCATE = SITE "W13" LEVEL 1;
COMP "ps2c" LOCATE = SITE "W12" LEVEL 1;
COMP "ps2d" LOCATE = SITE "V11" LEVEL 1;
COMP "clock" LOCATE = SITE "E12" LEVEL 1;
COMP "numTeclado<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "numTeclado<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "numTeclado<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "numTeclado<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "numTeclado<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "numTeclado<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "numTeclado<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "numTeclado<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "rstLCD" LOCATE = SITE "T14" LEVEL 1;
COMP "LCD_DB<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "LCD_DB<1>" LOCATE = SITE "AB18" LEVEL 1;
COMP "LCD_DB<2>" LOCATE = SITE "AB17" LEVEL 1;
COMP "LCD_DB<3>" LOCATE = SITE "AB12" LEVEL 1;
COMP "LCD_DB<4>" LOCATE = SITE "AA12" LEVEL 1;
COMP "LCD_DB<5>" LOCATE = SITE "Y16" LEVEL 1;
COMP "LCD_DB<6>" LOCATE = SITE "AB16" LEVEL 1;
COMP "LCD_DB<7>" LOCATE = SITE "Y15" LEVEL 1;
COMP "operacao" LOCATE = SITE "V8" LEVEL 1;
COMP "resetTeclado" LOCATE = SITE "U15" LEVEL 1;
COMP "rd_key_code" LOCATE = SITE "T16" LEVEL 1;
NET "clock_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

